- var active = 2
- var pageName = 'Типовая внутренняя страница'
include includes/settings
doctype html
html(lang='ru').no-js
  head
    include includes/head
  body
    .page-wrap
      include includes/header
      main
        .container
          aside
            h2 Каталог продукции
            nav.accordion
              ul
                li
                  a(href="#").accordion__parent Автопринадлежности
                  ul
                    li: a(href="#") Компрессоры
                    li: a(href="#") Провода прикуривания
                li.active
                  a(href="#").accordion__parent Коврики
                  ul
                    li.subactive: a(href="#") Ванночки
                    li: a(href="#") Плоские
                    li: a(href="#") Комбинированные
                    li: a(href="#") Трансформ
                li
                  a(href="#").accordion__parent Чехлы и накидки
                  ul
                    li: a(href="#") Компрессоры
                    li: a(href="#") Провода прикуривания
                li
                  a(href="#").accordion__parent Чехлы на руль
                  ul
                    li: a(href="#") Компрессоры
                    li: a(href="#") Провода прикуривания
          .content
            h1 Типовая страница
            .breadcrumbs
              ul
                li: a(href="#") Главная
                li: a(href="#") Типовая страница
            p Бренд iSky создан для тех, кто на сумасшедшей скорости съезжает с заснеженной горы на лыжах или сноуборде, для тех кто покоряет волны на кайте и тех, кто с волнением изучает подводный мир…
            p Мы надеемся заслужить любовь тех, кто каждые выходные ищет новые яркие ощущения, стремясь к ним за рулём своего авто. Свобода и страсть, стремления и свершения – вот ценности нашей аудитории, а значит ценности бренда iSky!
            h2 Заголовок H2
            p Мы надеемся заслужить любовь тех, кто каждые выходные ищет новые яркие ощущения, стремясь к ним за рулём своего авто. Свобода и страсть, стремления и свершения – вот ценности нашей аудитории, а значит ценности бренда iSky!
            h3 Заголовок h3
            p Мы надеемся заслужить любовь тех, кто каждые выходные ищет новые яркие ощущения, стремясь к ним за рулём своего авто. Свобода и страсть, стремления и свершения – вот ценности нашей аудитории, а значит ценности бренда iSky!
            table
              tr
                th Дата
                th Название
                th Значение
                th Остаток
              tr
                td 12 апреля 2014
                td Коврики
                td 45
                td 45
              tr
                td 15 апреля 2014
                td Чехлы
                td 574
                td 574
              tr
                td 18 апреля 2014
                td Щетки
                td 78
                td 78
              tr
                td 19 апреля 2014
                td Органайзеры
                td 88
                td 88
            h3 Стать партнером
            form
              div
                .col-1-2
                  input(type="text", placeholder="Ваше имя")
                  input(type="tel", placeholder="Телефон")
                  input(type="email", placeholder="E-mail")
                .col-1-2
                  textarea(placeholder="Сообщение")
              div
                input.right(type="submit", value="Отправить")

    include includes/footer
    include includes/tail
