
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -300px;
  &:after {
    content: "";
    display: block;
  }
}
footer, .page-wrap:after {
  height: 300px;
}

.ribbon {

  position: absolute;
  width: 50px;
  height: 20px;
  line-height: 20px;
  color: #FFF;
  font-family: "Arial";
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  right: 0; top: 13px;
  background-color: #FF3000;
  z-index: 2;
  @include box-shadow(inset -10px 0 15px -5px rgba(0,1,0,.25));

  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: -5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-top: 10px solid #FF3000;
    border-bottom: 10px solid #FF3000;
  }

}

.spinner {
  font-size: 3em;
  text-align: center;
  color: #969696;
}

.scrolltop {
  display: block;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 57px;
  height: 57px;
  @include border-radius(4px);
  @include background-clip(padding-box);
  background-color: #dadada;
  color: #FFF;
  font-size: 30px;
  text-align: center;
  line-height: 57px;
  opacity: .8;
  &:hover {
    color: #FFF;
    opacity: 1;
  }
}

.item-full {
  padding-bottom: 33px;
  margin-bottom: 33px;
  overflow: hidden;
  border-bottom: 1px solid #BEBEBE;
  &.item-full--page {
    border: none;
    .colorselect {
      display: inline-block;
      @include border-radius(4px);
      @include background-clip(padding-box);
      border: 1px solid #ebebeb;
      padding: 4px;
      margin-bottom: 20px;
      .colorselect__color {
        width: 26px;
        height: 26px;
        @include border-radius(5px);
        @include background-clip(padding-box);
        background-color: #FFF;
        border: 4px solid transparent;
        margin-right: 4px;
        display: block;
        float: left;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          border: 4px solid lighten(#CCCCCC, 13%);
        }

        &.active {
          border: 4px solid #CCCCCC;
        }

        &.color--black {
          background-color: #000;
        }

        &.color--grey {
          background-color: #969696;
        }

        &.color--brown {
          background-color: #CCAB91;
        }

      }
    }
  }
  .item-full__images {
    @include col(3/8);
    .image__main {
      margin-bottom: 16px;
      position: relative;
      display: block;
      &:hover {
        opacity: .8;
        &:after {
          display: block;
          position: absolute;
          bottom: 7px; right: 7px;
          font-family: 'FontAwesome';
          width: 15px; height: 20px;
          content: "\f00e";
          font-style:normal;
          font-weight:normal;
          line-height:1;
          -webkit-font-smoothing:antialiased;
          -moz-osx-font-smoothing:grayscale;
        }
      }
      img {
        width: 100%;
        height: auto;
        border: 1px solid rgba(0,0,0,.12);
      }
    }
    .image__small {
      margin-right: 3px;
      &:hover {
        opacity: .8;
      }
      img {
        width: 90px;
        height: auto;
        border: 1px solid rgba(0,0,0,.12);
      }
    }
  }
  .item-full__content {
    @include col(5/8);

    h5 {
      color: #000;
      font-family: "Arial";
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}



.cat-item {
  @include col(1/2, $cycle: 2);
  margin-bottom: 30px;
  .cat-item__image {
    @include col(1/3);
    img {
      width: 120px;
      height: 120px;
    }
  }
  .cat-item__content {
    padding-top: 25px;
    @include col(2/3);
    h3 {
      color: #000;
      font-family: "Arial";
      font-size: 21px;
      font-weight: 600;
      text-transform: uppercase;
    }
    a {
      text-decoration: none;
    }
    ul {
      li {
        a {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.cat-item--small {
  @include col(1/3, $cycle: 3);
  margin-bottom: 25px;
  text-align: center;
  img {
    width: 120px;
    height: 120px;
  }
  a {
    display: block;
    text-decoration: none;
    @include transition(all 0.1s ease-in-out);
    &:hover {
      //text-decoration: underline;
      opacity: 0.8;
    }
  }
  span {
    display: block;
    width: 140px;
    margin: 0 auto;
  }
}

.col-1-2 {
  @include col(1/2);
}

.col {
  @include col(1);
}

aside {
  @include col(3/12);
}

.content-small {
  @include col(6/12);
  margin-bottom: 60px;
}

.content {
  @include col(8/12, $offset: 1/12);
  margin-bottom: 60px;
}

.breadcrumbs {
  @include cf;
  margin-bottom: 30px;
  ul {
    li {
      float: left;
      margin-right: 22px;
      &:after {
        content: '\2192';
        position: relative;
        right: -10px;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
}

main {
  h1 {
    display: inline;
    background: #87b324;
    box-shadow: 17px 0 0 #87b324, -17px 0 0 #87b324;
    color: #fffeff;
    font-size: 36px;
    line-height: 48px;
    padding: 11px 0;
    margin-bottom: 37px;

    position: relative;
    left: 17px;

    &:after {
      display: block;
      content: ' ';
      margin-bottom: 38px;
    }
    &.blue {
      background: #00AEDE;
      box-shadow: 17px 0 0 #00AEDE, -17px 0 0 #00AEDE;
    }
    &.orange {
      background: #F37005;
      box-shadow: 17px 0 0 #F37005, -17px 0 0 #F37005;
    }
  }
}

.featured {
  .featured__item {
    @include span(1/6);
    text-align: center;
    padding-top: 15px;
    border: 1px solid #EAEAEA;
    border-right: none;
    margin-bottom: 70px;
    position: relative;
    overflow: hidden;
    &:last-child {
      border-right: 1px solid #EAEAEA;
    }
    img {
      @include transition(all 0.5s ease-in-out);
    }
    .featured__item__desc {
      @include transition(all 0.3s ease-in-out);
      top: -50%;
      position: absolute;
      width: 94px;
      height: 94px;
      left: 50%;
      margin-left: -47px;
      margin-top: -47px;
      @include border-radius(100px);
      background-color: #00A6D5;
      text-align: center;
      color: #fffdfe;
      font-family: "Trebuchet MS";
      font-size: 18px;
      padding-top: 30px;
      line-height: 1;
    }
    &:hover {
      img {
        opacity: 0.5;
      }
      .featured__item__desc {
        top: 50%;
      }
    }
  }
}

.date {
  color: #5c5c5d;
  font-size: 12px;
}

.allnews {
  color: #5c5c5d;
  font-family: "Arial";
  font-size: 12px;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.news-item {
  margin-bottom: 29px;
  .date {
    display: block;
    margin-bottom: 8px;
  }
  p {
    margin-bottom: 8px;
  }
}

.accordion {
  ul {
    li {
      margin: 7px 0;
      a {
        font-size: 18px;
        color: #005B97;
        font-family: "Neo Sans Pro", sans-serif;
        font-weight: 200;
        text-decoration: none;
        line-height: 1;
        padding: 4px 0 1px;
        &.accordion__parent:hover {
          background-color: #EEE;
        }
      }

      &.active {
        a.accordion__parent {
          color: #FFF;
          background: #00b4f0;
          box-shadow: 5px 0 0 #00b4f0, -5px 0 0 #00b4f0;
        }
        ul {
          max-height: 300px;
          height: auto;
          li {
            padding-left: 30px;
            &:before {
              position: absolute;
              left: 7px;
              font-size: 13px;
              content: '>';
              font-family: "Neo Sans Pro", sans-serif;
              font-weight: 200;
              text-decoration: none !important;
              color: #005B97;
            }
          }
          li.subactive a {
            background: #F37005;
            box-shadow: 5px 0 0 #F37005, -5px 0 0 #F37005;
            color: #FFF;
          }
        }
      }

      ul {
        max-height: 0;
        //height: 0;
        overflow: hidden;
        @include transition(max-height 0.5s ease);
        li {
          a {
            font-size: 16px;
            //padding-left: 27px;
            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}


table {
  border-collapse: collapse;
  width:100%;
  height:100%;
  margin-bottom: 18px;
  padding:0px;
  font-size: 14px;
  font-weight: 200;
  display: table !important;

    @include inner-table-borders(1px, #E0E0E0);
    @include outer-table-borders(1px, #E0E0E0);

  th {
    background-color: #E0E0E0;
    color: #000;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
    @include inner-table-borders(1px, #E0E0E0);
      @include outer-table-borders(1px, #E0E0E0);
  }

  th:first-child {
    border-right: 1px solid #E0E0E0;
  }

  tr {

    td {
      background-color: #fff;
      padding: 10px;
    }

    &:nth-child(2n+1) {
      td {
        background-color: #fff;
      }
    }
  }
}
