
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea, .select {

  @include placeholder {
    color: #656565;
    font-size: 14px;
  }

  -webkit-appearance: none;
  display: block;
  margin-bottom: 18px;

  width: 100%;
  height: 41px;
  padding: 13px 16px;

  border: 1px solid #D6D6D6;
  background-color: #FFF;

  color: #656565;
  font-size: 14px;
}

textarea {
  height: 160px;
}

.btn, a.btn, input[type=submit] {
  display: inline-block;
  border-style: solid;
  border: none;
  text-decoration: none;
  position: relative;
  clear: both;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  text-align: center;
  color: #fff;
  font-size: 18px;

  padding: 12px 20px;
  margin-bottom: 18px;

  background-color: #0096C7;

  &:hover {
    background-color: #00B5F0;
    &:active {
      top: 3px;
    }
  }

  &.btn {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 41px;
  }
}
