footer
  .container
    p © 2012 Компания «Isky»<br>Все вопросы, пожелания, предложения направлять на e-mail: <a href="mailto:andrey@elshin.ru">andrey@elshin.ru</a>
    p Проектирование и разработка сайта<br>Студия дизайна — «<a href="http://iastudio.ru" target="_blank">Интерактив</a>»
