header
  .container
    .header__logo: a(href="/"): img(src="i/logo.png", width="137", height="77")
    .header__navigation
      nav
        ul
          li: a(href="") О компании
          li: a(href="") Полезная информация
        ul
          li: a(href="") Оптовикам
          li: a(href="") Где купить
        ul
          li: a(href="") Новинки
          li: a(href="") Вопрос-ответ
    .header__social
      a(href="#").social__ig
      a(href="#").social__yt
      a(href="#").social__vk
  include slider

