.header__slider
  .container
    .slider__container
      .slider__item.active
        h1 Удовольствие от поездки
        img(src="i/slider/slide-1.png")
      .slider__item
        h1 Удовольствие от поездки2
        img(src="i/slider/slide-1.png")
      .slider__item
        h1 Удовольствие от поездки3
        img(src="i/slider/slide-1.png")
    a.slider__nav.slider__nav--next(href='#')
    a.slider__nav.slider__nav--prev(href='#')
